.Applet {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;

  >.Applet-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  >.Applet-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    padding: 1em;
    background-color: lightgray;

    >table {
      tr:first-child {
        text-align: right;
      }

      tr:second-child {
        text-align: left;
      }

      label {
        font-weight: bold;
      }

      >input {}
    }
  }

}